/*asasas
asasasa
asasas
asasas
asasaas
*/

*{
    margin: 0px;
    padding: 0px;

}

p{
    color: red;

}

h1{
    color: gray;

}

h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

body{
    background-color: lightgrey;
}

.top{
    padding:50px;
    text-align: center;
}

.bot{
    height: 20px;
    background-color: black;
    clear: both;
    text-align: center;
    padding:15px
}

.cont{
    width: 1050px;
    margin:auto;
}

.caixa-links{
    width: 200px;
    min-height: 170px;
    padding: 30px;
    background-color: gray;
    float: left;
    border: 1px solid black;

}